In [1]:
from EpidemiologicalModels.epidemiologicalModels import *
from EpidemiologicalModels.GenerateDatabases import *

Requirement already satisfied: opencv-python in e:\herramientas\lib\site-packages (4.5.2.52)
Requirement already satisfied: numpy>=1.17.3 in e:\herramientas\lib\site-packages (from opencv-python) (1.20.1)
Requirement already satisfied: opencv-contrib-python in e:\herramientas\lib\site-packages (4.5.2.52)
Requirement already satisfied: numpy>=1.17.3 in e:\herramientas\lib\site-packages (from opencv-contrib-python) (1.20.1)

## Modelo SIS simple

In [2]:
a=0.2; b=0.5
system = initialCondition(0.1, np.zeros((10,10)))
SISmodel = models("sis",a,b,system,Moore)

In [3]:
SISmodelApplied = SISmodel.basicModel(10)

df = pd.DataFrame()
x,y = system.shape
n = x*y

df["# Susceptibles"] = [int(n*m) for m in SISmodelApplied[1][0]]
df["# Infectados"] = [int(n*m) for m in SISmodelApplied[1][1]]
df["% Susceptibles"] = SISmodelApplied[1][0]
df["% Infectados"] = SISmodelApplied[1][1]

df.head()

   # Susceptibles  # Infectados  % Susceptibles  % Infectados
0              90            10            0.90          0.10
1              70            30            0.70          0.30
2              39            61            0.39          0.61
3              16            84            0.16          0.84
4               9            91            0.09          0.91

In [4]:
SISmodelEvolutions = SISmodel.evolutions
listOfCoordinatesNeighbors = Neighbors(system,Moore,1,1)

df = GetStatesByIteration(SISmodelEvolutions,listOfCoordinatesNeighbors).head()
df

,Iteración,"[0, 0]","[0, 1]","[0, 2]","[0, 3]","[0, 4]","[0, 5]","[0, 6]","[0, 7]","[0, 8]",...,"[9, 0]","[9, 1]","[9, 2]","[9, 3]","[9, 4]","[9, 5]","[9, 6]","[9, 7]","[9, 8]","[9, 9]"
0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2,2,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
4,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [5]:
NeighborsStatesInDataFrame([1,6],listOfCoordinatesNeighbors,df).head()

,Iteración,"[0, 5]","[0, 6]","[0, 7]","[1, 5]","[1, 6]","[1, 7]","[2, 5]","[2, 6]","[2, 7]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
2,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## Modelo SIR simple

In [6]:
a=0.2; b=0.5
system = initialCondition(0.1, np.zeros((10,10)))
SIRmodel = models("sir",a,b,system,Moore)

In [7]:
SIRmodelApplied = SIRmodel.basicModel(10)

df = pd.DataFrame()
x,y = system.shape
n = x*y

df["# Susceptibles"] = [int(n*m) for m in SIRmodelApplied[1][0]]
df["# Infectados"] = [int(n*m) for m in SIRmodelApplied[1][1]]
df["# Recuperados"] = [int(n*m) for m in SIRmodelApplied[1][2]]
df["% Susceptibles"] = SIRmodelApplied[1][0]
df["% Infectados"] = SIRmodelApplied[1][1]
df["% Recuperados"] = SIRmodelApplied[1][2]

df.head()

,# Susceptibles,# Infectados,# Recuperados,% Susceptibles,% Infectados,% Recuperados
0,90,10,0,0.90,0.10,0.00
1,68,30,2,0.68,0.30,0.02
2,46,46,8,0.46,0.46,0.08
3,32,50,18,0.32,0.50,0.18
4,22,50,28,0.22,0.50,0.28

In [8]:
SIRmodelEvolutions = SIRmodel.evolutions
listOfCoordinatesNeighbors = Neighbors(system,Moore,1,1)

df = GetStatesByIteration(SIRmodelEvolutions,listOfCoordinatesNeighbors).head()
df

,Iteración,"[0, 0]","[0, 1]","[0, 2]","[0, 3]","[0, 4]","[0, 5]","[0, 6]","[0, 7]","[0, 8]",...,"[9, 0]","[9, 1]","[9, 2]","[9, 3]","[9, 4]","[9, 5]","[9, 6]","[9, 7]","[9, 8]","[9, 9]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,...,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,...,2.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2.0,2.0,...,2.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0

In [9]:
NeighborsStatesInDataFrame([1,6],listOfCoordinatesNeighbors,df).head()

,Iteración,"[0, 5]","[0, 6]","[0, 7]","[1, 5]","[1, 6]","[1, 7]","[2, 5]","[2, 6]","[2, 7]"
0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
2,2,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
3,3,0.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0
4,4,0.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0

## Modelos con Natalidad y mortalidad

In [10]:
a=0.2; b=0.5
ranges = [[1,25,0.4],[25,64,0.4],[65,90,0.2]]
ages_sys1 = agesMatrix(ranges,system)
mr = [[1,14,0.0005],[15,69,0.02],[70,100,0.15]]
br = 2

system = initialCondition(0.1, np.zeros((10,10)))
SIRmodelWithBirthsAndDeaths = models("sir_birthAndMortavility",a,b,system,Moore)
SIRmodelWithBirthsAndDeaths.birthRate = br; SIRmodelWithBirthsAndDeaths.probabilityOfDyingByAgeGroup = mr
SIRmodelWithBirthsAndDeaths.systemAges = ages_sys1; SIRmodelWithBirthsAndDeaths.annualUnit = 365

In [11]:
SIRmodelWithBirthsAndDeathsApplied = SIRmodelWithBirthsAndDeaths.basicModel(10)

df = pd.DataFrame()
x,y = system.shape
n = x*y

df["# Susceptibles"] = [int(n*m) for m in SIRmodelWithBirthsAndDeathsApplied[1][0]]
df["# Infectados"] = [int(n*m) for m in SIRmodelWithBirthsAndDeathsApplied[1][1]]
df["# Recuperados"] = [int(n*m) for m in SIRmodelWithBirthsAndDeathsApplied[1][2]]
df["# Muertos"] = [int(n*m) for m in SIRmodelWithBirthsAndDeathsApplied[1][3]]
df["% Susceptibles"] = SIRmodelWithBirthsAndDeathsApplied[1][0]
df["% Infectados"] = SIRmodelWithBirthsAndDeathsApplied[1][1]
df["% Recuperados"] = SIRmodelWithBirthsAndDeathsApplied[1][2]
df["% Muertos"] = SIRmodelWithBirthsAndDeathsApplied[1][3]

df.head()

,# Susceptibles,# Infectados,# Recuperados,# Muertos,% Susceptibles,% Infectados,% Recuperados,% Muertos
0,90,10,0,0,0.90,0.10,0.00,0.00
1,65,31,1,3,0.65,0.31,0.01,0.03
2,38,51,6,5,0.38,0.51,0.06,0.05
3,25,54,14,7,0.25,0.54,0.14,0.07
4,13,56,22,9,0.13,0.56,0.22,0.09

In [12]:
SIRmodelWithBirthsAndDeathsEvolutions = SIRmodelWithBirthsAndDeaths.evolutions
listOfCoordinatesNeighbors = Neighbors(system,Moore,1,1)

df = GetStatesByIteration(SIRmodelWithBirthsAndDeathsEvolutions,listOfCoordinatesNeighbors).head()
df

,Iteración,"[0, 0]","[0, 1]","[0, 2]","[0, 3]","[0, 4]","[0, 5]","[0, 6]","[0, 7]","[0, 8]",...,"[9, 0]","[9, 1]","[9, 2]","[9, 3]","[9, 4]","[9, 5]","[9, 6]","[9, 7]","[9, 8]","[9, 9]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
3,3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,2.0,1.0,1.0,3.0,1.0,2.0,0.0,0.0,1.0
4,4,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,0.0,...,1.0,2.0,1.0,1.0,3.0,1.0,2.0,0.0,1.0,2.0

In [13]:
NeighborsStatesInDataFrame([1,6],listOfCoordinatesNeighbors,df).head()

,Iteración,"[0, 5]","[0, 6]","[0, 7]","[1, 5]","[1, 6]","[1, 7]","[2, 5]","[2, 6]","[2, 7]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,2.0,1.0,1.0,1.0,0.0,3.0,1.0,1.0,0.0

## Modelos con muerte por enfermedad

In [14]:
ranges = [[1,25,0.4],[25,64,0.4],[65,90,0.2]]
mr = [[1,14,0.0005],[15,69,0.02],[70,100,0.15]]
br = 2
ages_sys3 = agesMatrix(ranges,system)
ranges_dead = [[1,20,0.08],[21,45,0.15],[46,78,0.35],[79,100,0.8]]

SIRmodelWithDeathByDisease = models("sir_deathByDisease",0.2,0.5,system,Moore)
SIRmodelWithDeathByDisease.birthRate = br; SIRmodelWithDeathByDisease.probabilityOfDyingByAgeGroup = mr
SIRmodelWithDeathByDisease.deathFromDiseaseByAgeRange = ranges_dead
SIRmodelWithDeathByDisease.systemAges = ages_sys3; SIRmodelWithDeathByDisease.annualUnit = 365

In [15]:
SIRmodelWithDeathByDiseaseApplied = SIRmodelWithDeathByDisease.basicModel(10)

df = pd.DataFrame()
x,y = system.shape
n = x*y

df["# Susceptibles"] = [int(n*m) for m in SIRmodelWithDeathByDiseaseApplied[1][0]]
df["# Infectados"] = [int(n*m) for m in SIRmodelWithDeathByDiseaseApplied[1][1]]
df["# Recuperados"] = [int(n*m) for m in SIRmodelWithDeathByDiseaseApplied[1][2]]
df["# Muertos"] = [int(n*m) for m in SIRmodelWithBirthsAndDeathsApplied[1][3]]
df["% Susceptibles"] = SIRmodelWithDeathByDiseaseApplied[1][0]
df["% Infectados"] = SIRmodelWithDeathByDiseaseApplied[1][1]
df["% Recuperados"] = SIRmodelWithDeathByDiseaseApplied[1][2]
df["% Muertos"] = SIRmodelWithBirthsAndDeathsApplied[1][3]

df.head()

,# Susceptibles,# Infectados,# Recuperados,# Muertos,% Susceptibles,% Infectados,% Recuperados,% Muertos
0,90,10,0,0,0.90,0.10,0.00,0.00
1,73,19,2,3,0.73,0.19,0.02,0.03
2,56,27,6,5,0.57,0.27,0.06,0.05
3,46,28,12,7,0.46,0.28,0.12,0.07
4,39,26,18,9,0.39,0.26,0.18,0.09

In [16]:
SIRmodelWithDeathByDiseaseEvolutions = SIRmodelWithDeathByDisease.evolutions
listOfCoordinatesNeighbors = Neighbors(system,Moore,1,1)

df = GetStatesByIteration(SIRmodelWithDeathByDiseaseEvolutions,listOfCoordinatesNeighbors).head()
df

,Iteración,"[0, 0]","[0, 1]","[0, 2]","[0, 3]","[0, 4]","[0, 5]","[0, 6]","[0, 7]","[0, 8]",...,"[9, 0]","[9, 1]","[9, 2]","[9, 3]","[9, 4]","[9, 5]","[9, 6]","[9, 7]","[9, 8]","[9, 9]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1.0,1.0,2.0,2.0,3.0,0.0,0.0,0.0,0.0,...,2.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,1.0,2.0,2.0,3.0,0.0,0.0,0.0,0.0,...,2.0,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
NeighborsStatesInDataFrame([1,6],listOfCoordinatesNeighbors,df).head()

,Iteración,"[0, 5]","[0, 6]","[0, 7]","[1, 5]","[1, 6]","[1, 7]","[2, 5]","[2, 6]","[2, 7]"
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0